$pickled-bluewood: #2c3e50;
$mulled-wine: #443c68;
$white: #fff;
$font-poppins: "Poppins", sans-serif;
$font-tilt-warp: "Tilt Warp", cursive;
$bg-aqua-spring: #e9f8f9;
$bg-fruit-salad: #4caf50;
$bg-goblin: #3e8e41;